wersja sprzedazowa/wersja sprzedazowa/moj mvvm/MVVMMoj/MVVMMoj/Connected Services/Uslugi/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aAa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OdczytZBazy">
        <s:complexType />
      </s:element>
      <s:element name="OdczytZBazyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OdczytZBazyResult" type="tns:ArrayOfUzytkownik" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUzytkownik">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Uzytkownik" nillable="true" type="tns:Uzytkownik" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Uzytkownik">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Imie" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nazwisko" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jednostka" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OdczytZBazyWartosciZdarzen">
        <s:complexType />
      </s:element>
      <s:element name="OdczytZBazyWartosciZdarzenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OdczytZBazyWartosciZdarzenResult" type="tns:ArrayOfZdarzenia" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfZdarzenia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Zdarzenia" nillable="true" type="tns:Zdarzenia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Zdarzenia">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nazwa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="data" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="opis" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="sprzedaż" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ZapisDoBazy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaZeZmienionymiZdarzeniami" type="tns:ArrayOfZdarzenia" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ZapisDoBazyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZapisDoBazyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="OdczytZBazySoapIn">
    <wsdl:part name="parameters" element="tns:OdczytZBazy" />
  </wsdl:message>
  <wsdl:message name="OdczytZBazySoapOut">
    <wsdl:part name="parameters" element="tns:OdczytZBazyResponse" />
  </wsdl:message>
  <wsdl:message name="OdczytZBazyWartosciZdarzenSoapIn">
    <wsdl:part name="parameters" element="tns:OdczytZBazyWartosciZdarzen" />
  </wsdl:message>
  <wsdl:message name="OdczytZBazyWartosciZdarzenSoapOut">
    <wsdl:part name="parameters" element="tns:OdczytZBazyWartosciZdarzenResponse" />
  </wsdl:message>
  <wsdl:message name="ZapisDoBazySoapIn">
    <wsdl:part name="parameters" element="tns:ZapisDoBazy" />
  </wsdl:message>
  <wsdl:message name="ZapisDoBazySoapOut">
    <wsdl:part name="parameters" element="tns:ZapisDoBazyResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OdczytZBazy">
      <wsdl:input message="tns:OdczytZBazySoapIn" />
      <wsdl:output message="tns:OdczytZBazySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OdczytZBazyWartosciZdarzen">
      <wsdl:input message="tns:OdczytZBazyWartosciZdarzenSoapIn" />
      <wsdl:output message="tns:OdczytZBazyWartosciZdarzenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ZapisDoBazy">
      <wsdl:input message="tns:ZapisDoBazySoapIn" />
      <wsdl:output message="tns:ZapisDoBazySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OdczytZBazy">
      <soap:operation soapAction="http://tempuri.org/OdczytZBazy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OdczytZBazyWartosciZdarzen">
      <soap:operation soapAction="http://tempuri.org/OdczytZBazyWartosciZdarzen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZapisDoBazy">
      <soap:operation soapAction="http://tempuri.org/ZapisDoBazy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OdczytZBazy">
      <soap12:operation soapAction="http://tempuri.org/OdczytZBazy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OdczytZBazyWartosciZdarzen">
      <soap12:operation soapAction="http://tempuri.org/OdczytZBazyWartosciZdarzen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZapisDoBazy">
      <soap12:operation soapAction="http://tempuri.org/ZapisDoBazy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:57298/WebService/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:57298/WebService/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>